version: '2'

services:

  mysql:
    image: mysql:8.0.1
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=admin
    ports:
      - "3306:3306"
    volumes:
      - /var/lib/mysql
    restart: always
    networks:
      - phonebook_sb

  apache:
    build: ./docker/server
    ports:
      - "80:80"
      - "443:443"
    links:
      - mysql
    volumes:
      - ./phonebookapp:/var/www/html
    networks:
      - phonebook_sb

networks:
  phonebook_sb:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: "172.21.0.1/24"
          gateway: "172.21.0.1"
